html {
    font-family: "Guardian Text Egyptian Web",Georgia,serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body{
    background-color: #e8e8e8;
    line-height: 1.5;
    color: #333;
}
.match_summary {
    background-color: #f6f6f6;
}

.match-summary_events {

    width: 75%;
    margin: auto;
    float: right;

}

.match_control{
    width: 25%;
    background-color: #ffffff; 
    border-right: 0.0625rem solid #cc2b12;
    padding: 1rem;
    float: left;
}
input[type=range]  {
    width: 100%;
}
p {
    display: block;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.block.is-key-event, .block.is-summary {
    border-top: 0.0625rem solid #cc2b12;
}
.block-time__link {
    color: #333;
}
.published-time {
    width: 6.75rem;
}

.block-time.published-time {
    font-size: 1.25rem;
    line-height: 1.125rem;
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    margin: 0;
    font-weight: bold;
}

.timestamp time, .published-time time {
    display: inline-block;
    margin-bottom: 0.50rem;
}
.block:after, 
.block:before {
    content: '';
    display: table;
}

.block--content {
    padding-top: 0.375rem;
    padding-bottom: 0.75rem;
    background-color: #ffffff;
}
.block {
    margin-bottom: 0.75rem;
    position: relative;
}
div {
    display: block;
}

.block-time .block-time__absolute {
    display: block;
    margin-left: 0;
}


.block-time {
    position: absolute;
}
.block-time {
    line-height: 0.9375rem;
    padding: 0.1875rem 0 0.75rem 0.625rem;
}


.block-elements>*{
    margin-right: 1.25rem;
    margin-left: 7rem;
    font-size: 1.75rem;
}



.block-title {
    margin-right: 1.25rem;
    margin-left: 7rem;
    font-size: 2.125rem;
    line-height: 1.5rem;
    font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.match-summary_team {
    width: 35%; 

}

.match-summary_score {
    width: 10%;
    text-align: center;
}
.match-summary_teams {
    display: flex;
    background-color: white;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.match-summary_team_away{
    text-align: right;
    margin-right: 25%;
}
.match-summary_team_home{
    margin-left: 25%;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}