<!DOCTYPE html>
<html lang="en" ng-app="soccerEventApp">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Navbar Static top Template</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

        <script src="js/jquery.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/socket.js"></script>
	</head>
<body ng-controller="soccerEventController as eventList">
<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">About</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">
<div class="match_summary">   
    <button type="button" onclick="send('pause');" >Pause</button>
     <button type="button" onclick="send('resume');" >Resume</button>
     <button type="button" onclick="send('restart');" >Restart</button>
   <div class="match-summary_teams">
        <div class="match-summary_team match-summary_team_home u-cf">
            <div class="team__crest team__crest--home">
                <div class="team__crest__img-container">
                    <span class="team__crest__img" style="background-image: url(https://sport.guim.co.uk/football/crests/120/497.png)"></span>
                </div>
            </div>
            <div class="team__info">
                <h2 class="team__heading">
                    <span class="team__name" data-abbr="ENG">
                        <span class="team__name-long">{{eventList.game.home.name}}</span>
                    </span>
                </h2>

                
                    <dl class="team__scorers u-unstyled" ng-repeat="scorer in eventList.game.home.scorers">
                          <dd>{{scorer.player}} {{scorer.time}}' </dd> 
                    </dl>
                
                <div class="team__battle-line"></div>
            </div>
        </div>

        <h2 class="match-summary_score">
            <span>{{eventList.score()}}</span>
        </h2>

        <div class="match-summary_team match-summary_team_away u-cf">
            <div class="team__crest team__crest--away">
                <div class="team__crest__img-container">
                    <span class="team__crest__img" style="background-image: url(https://sport.guim.co.uk/football/crests/120/630.png)"></span>
                </div>
            </div>
            <div class="team__info">
                <h2 class="team__heading">
                    <span class="team__name" data-abbr="WAL">
                        <span class="team__name-long">{{eventList.game.away.name}}</span>
                    </span>
                </h2>
                
                     <dl class="team__scorers u-unstyled" ng-repeat="scorer in eventList.game.away.scorers">
                          <dd>{{scorer.player}} {{scorer.time}}' </dd> 
                    </dl>
                
            </div>
        </div>
    </div>

    <div class="match-summary_events">
    <div ng-repeat="event in eventList.game.events" >

    <div id="block-5762bc29e4b08efba829a93c" data-sort-time="1466088493000" class="block block--content" itemprop="liveBlogUpdate" itemscope="" itemtype="http://schema.org/BlogPosting">
        <p class="block-time published-time">
        <a href="/football/live/2016/jun/16/england-v-wales-euro-2016-live?page=with:block-5762bc29e4b08efba829a93c#block-5762bc29e4b08efba829a93c" itemprop="url" class="block-time__link">
        <time datetime="2016-06-16T14:48:13.000Z" data-relativeformat="med" class=" js-timestamp" itemprop="datePublished" title="3.48pm BST">16 Jun 2016</time>
        <span class="block-time__absolute">{{event.time}}</span>
        </a>
        </p>
        <div class="block-elements block-elements--no-byline" itemprop="articleBody">
        <p><b>{{event.time}} min: </b> {{eventList.resume(event)}}</p>
        </div>
    </div>
    </div>
    </div>
  </div>
</div>
	
	</body>
</html>