<!DOCTYPE html>
<html lang="en" ng-app="soccerEventApp">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">

        <title>Event Tracking</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="footstream/css/bootstrap.min.css" rel="stylesheet">
        <link href="footstream/css/styles.css?jsjsjss=dsssdd" rel="stylesheet">
        <!--[if lt IE 9]>
                <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script src="footstream/js/jquery.min.js"></script>
        <script src="footstream/js/angular.min.js"></script>
        <script src="footstream/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="footstream/js/angular-animate.js"></script>
        <script type="text/javascript" src="footstream/js/angular-resource.js"></script>
        <script type="text/javascript" src="footstream/js/bootstrap-slider.min.js"></script>
        <script type="text/javascript" src="footstream/js/Chart.min.js"></script>
        <script src="footstream/js/socket.js?l=bbbbb"></script>

        <style>
            output {
                float: right; 
                margin-top: -1.5rem; 
                padding-top: 0;
            }
        </style>
    </head>
    <body ng-controller="soccerEventController as eventList">
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Event Tracking</a>
                </div>
                <!--<div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#about">About</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>



        <div class="container">



            <div class="match_summary">   

                <button ng-if="game.status === 1" class="center-block btn btn-lg btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
                <div class="match-summary_teams">
                    <div class="match-summary_team match-summary_team_home u-cf">
                        <div class="team__crest team__crest--home">
                            <div class="team__crest__img-container">
                                <span class="team__crest__img" style="background-image: url(https://sport.guim.co.uk/football/crests/120/497.png)"></span>
                            </div>
                        </div>
                        <div class="team__info">
                            <h2 class="team__heading">
                                <span class="team__name" data-abbr="ENG">
                                    <span class="team__name-long">{{game.home.name}}</span>
                                </span>
                            </h2>

                            <dl class="team__scorers u-unstyled" ng-repeat="scorer in game.home.scorers">
                                <dd>{{scorer.player}} {{scorer.time}}' </dd> 
                            </dl>

                            <div class="team__battle-line"></div>
                        </div>
                    </div>

                    <h2 class="match-summary_score">
                        <span>{{eventList.score()}}</span>
                    </h2>

                    <div class="match-summary_team match-summary_team_away u-cf">
                        <div class="team__crest team__crest--away">
                            <div class="team__crest__img-container">
                                <span class="team__crest__img" style="background-image: url(https://sport.guim.co.uk/football/crests/120/630.png)"></span>
                            </div>            

                        </div>
                        <div class="team__info">
                            <h2 class="team__heading">
                                <span class="team__name" data-abbr="WAL">
                                    <span class="team__name-long">{{game.away.name}}</span>
                                </span>
                            </h2>

                            <dl class="team__scorers u-unstyled" ng-repeat="scorer in game.away.scorers">
                                <dd>{{scorer.player}} {{scorer.time}}' </dd> 
                            </dl>

                        </div>
                    </div>
                </div>
                <div class="match">

                    <div class="match_control">
                        <div class="form-group input-group">
                            <label  class="control-label" for="inputSuccess2">Select a game</label>
                            <select class="dropdown" ng-model="game" ng-options="match as match.home.name + ' VS ' + match.away.name for match in matches">
                            </select>
                        </div>
                        <div class="input-group">
                            <button class="btn btn-success"  type="button" ng-click="eventList.params()">Set parameters</button>
                        </div>

                        <div class="form-group input-group" ng-repeat="parameter in game.parameters">
                            <label class="control-label" for="{{parameter.key}}">Minimum confidence for {{parameter.key}}</label>
                            <input id="{{parameter.key}}" type="range" min="0" max="1" step="0.001" ng-model="parameter.value"/>
                            <output name="{{parameter.key}}value" for="{{parameter.key}}" >{{parameter.value}}</output>
                        </div>
                        
                        <div class="input-group">
                            <button class="btn btn-success" type="button" ng-if="game.status === 0" ng-click="eventList.start()">Start</button>
                            <button class="btn btn-danger" type="button" ng-if="game.status === 1" ng-click="eventList.pause()">Pause</button>
                            <button class="btn btn-success"  type="button" ng-if="game.status === -1" ng-click="eventList.resume()">Resume</button>
                        </div>
                        
                        <canvas id="myChart" width="400" height="400"></canvas>
                        
                        
                        <!--
                       
                       
                       <div class="form-group input-group">
                            <label class="control-label" for="inputSuccess2">Min confidence for Shoot</label>
                            <input id="slider_TIR" type="range" min="0" max="1" step="0.01" />
                        </div>

                       <div class="form-group input-group">
                            <label class="control-label" for="inputSuccess2">Min confidence for Yellow Card</label>
                            <input id="slider_CJA" type="range" min="0" max="1" step="0.01" />
                        </div>

                       <div class="form-group input-group">
                            <label class="control-label" for="inputSuccess2">Min confidence for Red Card</label>
                            <input id="slider_CRO" type="range" min="0" max="1" step="0.01" />
                        </div>

                       <div class="form-group input-group">
                            <label class="control-label" for="inputSuccess2">Min confidence for Substitution</label>
                            <input id="slider_SUBT" type="range" min="0" max="1" step="0.01" />
                        </div>

                       <div class="form-group input-group">
                            <label class="control-label" for="inputSuccess2">Min confidence for periods</label>
                            <input id="slider_PER" type="range" min="0" max="1" step="0.01" />
                        </div>
                        <div class="input-group">
                            <button class="btn btn-success" type="button" ng-if="selectedMatch.status === 0" ng-click="eventList.start()">Start</button>
                            <button class="btn btn-danger" type="button" ng-if="selectedMatch.status === 1" ng-click="eventList.pause()">Pause</button>
                            <button class="btn btn-success"  type="button" ng-if="selectedMatch.status === -1" ng-click="eventList.resume()">Resume</button>
                        </div>-->

                       

                    </div>

                    <div class="match-summary_events">
                        <div ng-animate = "'animate'" ng-repeat="event in game.events" class="block block--content is-key-event" >
                            <div class="block block--content">
                                <p class="block-time published-time">
                                    <time class=" js-timestamp" itemprop="datePublished" title="3.48pm BST">{{game.date}}</time>
                                    <span class="block-time__absolute">{{event.time}}</span>
                                        <div class="team__crest__img-container">
                                            <span class="team__crest__img" style="background-image: url({{event.action}}.png)"></span>
                                        </div> 
                        
                                </p>
                                <h2 class="block-title">{{eventList.description(event)}}</h2>
                                <div class="block-elements block-elements--no-byline" itemprop="articleBody">
                                    <p>{{event.resume}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
</div>
        </div>
    </body>
</html>