body{
	background-color: #e8e8e8;
}
.match_summary {
	background-color: #f6f6f6;
}

.match-summary_events {
	
	width: 50%;
	margin: auto;
	
}
.block--content {
    padding-top: 0.375rem;
    padding-bottom: 0.75rem;
    background-color: #ffffff;
    border-top: 0.0625rem solid #bdbdbd;
    border-bottom: 0.0625rem solid #eaeaea;
}

.match-summary_teams {
	background-color: white;
	height: 140px;
	margin-bottom: 10px;
}
.block {
    margin-bottom: 0.75rem;
    position: relative;
}

.match-summary_team {
	width: 35%; 
	
}

.match-summary_score {
	width: 10%;
	text-align: center;
}
.match-summary_teams {
	display: flex;
}

.match-summary_team_away{
	text-align: right;
	margin-right: 10%;
}
.match-summary_team_home{
	margin-left: 10%;
}